.h1 {
  font-size: 7.2rem;
  line-height: 8.6rem;
  font-weight: 900;
}

.header1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.header2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
}

.sub_header1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}

.sub_header2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

.body_text1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.body_text2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.body_text3 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.button_text1 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.textfield_header1 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.sub_body {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
