.mb-sm {
  margin-bottom: 2rem !important;
}
.mb-mid {
  margin-bottom: 3rem !important;
}
.mb-lg {
  margin-bottom: 5rem !important;
}

.mt-sm {
  margin-top: 1.5rem !important;
}
.mt-mid {
  margin-top: 2.5rem !important;
}
.mt-lg {
  margin-top: 3.5rem !important;
}
